# Node
node_modules/
dist/
.env
.env.local
.env.*.local
.DS_Store

# Electron
release/
forge.config.ts
out/
.webpack/

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.vscode/
.idea/
.venv/
.history/
*.sublime-project
*.sublime-workspace

# Build output
build/
.next/
.serverless/
.parcel-cache/

# Mac
.DS_Store
# Windows
Thumbs.db
ehthumbs.db
*.stackdump

# Misc
*.log
*.bak
*.swp
*~
.nyc_output/
.c9/
.nvm/
.npm/
.bower/
.eslintcache
.stylelintcache
renderer/package-lock.json

# Generated TypeScript build output kept out of source folders
main/src/**/*.js
main/src/**/*.js.map
main/src/**/*.d.ts
main/src/**/*.d.ts.map
shared/*.js
shared/*.js.map
sync/*.js
sync/*.js.map
undo/*.js
undo/*.js.map

target_new/
target_release/
src-tauri/target_new/
src-tauri/target_release/
src-tauri/target/
